POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=
DATABASE_PORT=

KAFKA_ADVERTISED_HOST_NAME=
KAFKA_ZOOKEEPER_CONNECT=
KAFKA_ADVERTISED_PORT=
KAFKA_DELETE_TOPIC_ENABLE=
KAFKA_BROKER=
KAFKA_TOPIC=